*{
    margin: 0%;
    padding: 0%;
    /* font-family: 'Cairo', sans-serif; */
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Poiret One', cursive;


}
body{
    overflow: hidden;
}
.main{
    width: 20vw;
    height: 100vw;
    background-image: linear-gradient(to right, #361e1e 0%, black 100%)  /* position: absolute; */
    /* transition: transform 0.3s ease-in; */
}
.main .navbar{
    position: sticky;
    top: 0;

}
.main .navbar li{
    list-style: none;
    padding: 1vw;
    font-size: 1.32vw;
    /* text-align: center; */
}

.main .navbar li .prof{
    width:10vw;
    border: 0.3vw solid white;
    border-radius: 50%;
}
.main .navbar li .social a img{
    width: 1.8vw;
}
.main .navbar li .social a img:hover{
    transform: scale(1.2);
}
.main .navbar li a img{
    width:1.6vw;
    padding-right: 11px;
}

.main .navbar li a{
    text-decoration: none;
    color: white;
}
.main .navbar li a:hover{
    color: #DC143C;
}
.container{
    display: flex;
}
.content{
    width: 100%;
/* background-color:  #10100a	; */
background-image: url('/websites/personal-portfolio/img/p1.jpeg');
background-size: contain;
background-repeat: repeat-x;
background-position-x: 31vw;
    height: 100vw;
}
.info-cont{
    display: flex;
    /* background-color:  #10100a	; */
    height: 34vw;
    /* background-image: url('/websites/personal-portfolio/WhatsApp\ Image\ 2022-05-26\ at\ 10.50.23\ AM.jpeg'); */
    width: 80vw;
    margin: 4vw -8vw;
    justify-content: space-around;
}
/* .image img{
    width: 25vw;
    padding-bottom: 4vw;
    display: none;
    border: 0.3vw solid crimson;
     
} */
.ic img{
    width: 4vw;
    padding-right: 1vw;
    padding-top: 1vw;
}
.info{
    font-size: 2vw;
    letter-spacing: 1px;
    /* color: #DC143C; */
    font-family: 'Inconsolata', monospace;
    color: white;
}
.nm{
    font-size: 2.5vw;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    color:#1E90FF;
    margin-bottom: 1vw;
}

.abt{
    font-size: 2vw;
    font-weight:400;
    color: #DC143C;
    letter-spacing: 1px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 1vw;
    /* min-width: 5vw; */
    /* position: relative; */
}
.more{
    color:   #2db92d;
    width: 57vw;
    height: 5vw;
     /* opacity: 0.8;  */
     border-left: 5px solid crimson;
    border-right: 5px solid crimson; 
    margin-bottom: 3vw;
    font-size: 1.2vw;
     /* background-color: black;  */
    font-family: 'Inconsolata', monospace;
}
.more:hover{
    opacity: 1;
}
.btn button{
    margin: 2px;
    padding: 0.8vw;
    font-size: 1vw;
    color: white;
    border-radius: 21px;
    background-color: #1E90FF;
}
.btn button:hover{
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
    cursor: pointer;
}
.info-cont .sub{
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
.abt{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #1E90FF;
    width: 31vw;
    animation: type 3s steps(25), blink 0.5s step-end infinite alternate ;
}
@keyframes type {
    from{
        width: 0%;
    }
    
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

/* responsive */
@media (max-width: 1032px){
      .main{
         /* transform:translate(-400px,0px);  */
         position: absolute; 
         width: 40vw;
         height: 700vw;
    }  
    .content{
           background-color:rgb(14, 13, 13);
           height: 700vw;
           width: 600vw;
    }
     /* .image img{
        display: inline;
    } */
    /*.btn{
         padding: 0%;
    } */
   .more{
       width: 57vw;
       height: fit-content;
       /* overflow: scroll; */
       margin-bottom: 4vw;
       margin-top: 2vw;
   }
   .info-cont{
       height: 100vw;
   }
   .main .navbar li .social a img{
       padding-top: 3vw;
       padding-bottom: 2vw;
   }
   
}
.hamburger{
    cursor: pointer;
    display: flex;
    /* position: absolute;
    left:10vw;
    right:10vw */
}
.ham,.cross{
    background-color: white;
    width: 1.7vw;
    height: 1.5vw;
    border-radius: 0.2vw;
    position: absolute;
    margin-top:0.5vw ;
    margin-left: 0.5vw;
}
.navbargo{
    transform: translate(-440px,0px);
    position: absolute;
}